<ion-view>
    <ion-nav-bar class="bar bar-positive" align-title="center">
        <ion-nav-title>Adicionar cliente</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-archive" style="font-size:40px;"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">

        <img class="imagem_cliente" src="img/person-man.png" />

        <ion-list style="">
            <ion-item class="item item-input">
                <input type="text" placeholder="Nome">
            </ion-item>
            <ion-item class="item item-input">
                <input type="text" placeholder="Email"></input>
            </ion-item>
            <ion-item class="item item-input">
                <input type="text" placeholder="Endereço">
            </ion-item>
            <ion-item class="item item-input">
                <input type="text" placeholder="Telefone"></input>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>