<ion-view>
  <ion-nav-bar class="bar bar-positive" align-title="center">
    <ion-nav-title>Adicionar cliente</ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-archive botao_barra_superior" ng-click="adicionarCliente()"></button>
    </ion-nav-buttons>
    <ion-nav-back-button class="button-clear nuncaHide" ng-click="voltar()">
      <i class="ion-arrow-left-c"></i> Voltar
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <img class="imagem_cliente" src="img/person-man.png" />
    <ion-list>
      <ion-item class="item item-input">
        <input type="text" placeholder="Nome" ng-model="cliente.nome">
      </ion-item>
      <ion-item class="item item-input">
        <input type="email" placeholder="Email" ng-model="cliente.email"></input>
      </ion-item>
      <ion-item class="item item-input">
        <input type="text" placeholder="Endereço" ng-model="cliente.endereco">
      </ion-item>
      <ion-item class="item item-input">
        <input type="tel" placeholder="Telefone" ng-model="cliente.telefone"></input>
      </ion-item>
      <br>
    </ion-list>
    <button class="button button-full button-assertive" ng-click="limpar()">Limpar</button>
  </ion-content>
</ion-view>
