<ion-view>
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-title>Clientes</ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-person-add botao_barra_superior" ng-click="adicionarCliente()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
       <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
         <ion-list>
      <ion-item class="item-avatar item-icon-left item-icon-right" ng-repeat="x in clientes" ng-click="registros($index)">
        <i class="icon ion-person-stalker"></i>
        <h2>{{x.nome}}</h2>
        <h4 ng-class="{'vermelho': !estaPositivo($index), 'verde': estaPositivo($index)}">R$ {{x.total}}</h4>
        <ion-option-button class="button button-assertive icon-left ion-trash-a" ng-click="deletarCliente($index)">
          Deletar
        </ion-option-button>
        <ion-option-button class="button button-positive icon-left ion-edit" ng-click="editarCliente($index)">
          Editar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>