<ion-view>
    <ion-nav-title>Registros</ion-nav-title>

    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-avatar item-icon-left item-icon-right" ng-repeat="x in registros | orderBy:'-data'" ng-click="registros($index)">
                <i class="icon ion-cash"></i>

                <div class="row">
                    <div class="col">
                        <h2>{{x.nome}}</h2>
                        <h2 ng-class="{'vermelho': !x.ehEntrada, 'verde': x.ehEntrada}">R$ {{x.valor}}</h2>
                        <h4>{{x.data | limitTo: 10 | date: 'dd/MM/yyyy'}}</h4>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>
            </ion-item>
            <br>
        </ion-list>
    </ion-content>
</ion-view>