<ion-nav-bar class="bar bar-positive" align-title="center" style="display: block !important;">
  <ion-nav-title>{{cliente.nome}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear ion-plus botao_barra_superior" ng-click="criarRegistro()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-arrow-left-c botao_barra_superior" ng-click="voltar()"></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
  <div class="bar bar-subheader">
    <h2 class="title" ng-class="{'vermelho': !estaComSaldoPositivo(), 'verde': estaComSaldoPositivo()}">Total: R$ {{cliente.total}}</h2>
  </div>
  <ion-content class="padding has-subheader">
    <ion-list>
      <ion-item class="item-avatar item-icon-left" ng-repeat="x in cliente.movimentacoes track by $index">
        <i class="icon ion-cash"></i>
        <div class="row">
          <div class="col">
            <h2 style="font-size: 15px;">{{x.descricao}}</h2>
            <h4> {{x.data | limitTo: 10 | date: 'dd/MM/yyyy'}} - <a ng-class="{'vermelho': !x.ehEntrada, 'verde': x.ehEntrada}">R$ {{x.valor}}</a></h4>
          </div>
        </div>
        <ion-option-button class="button button-assertive icon-left ion-trash-a" ng-click="deletarRegistro($index)">
          Deletar
        </ion-option-button>
      </ion-item>
      <br>
    </ion-list>
  </ion-content>
</ion-view>
<script id="modal.html" type="text/ng-template">
   <ion-modal-view id="modalRegistro" class="ion-nifty-modal">
    <div class="ion-modal-content-custom">
      <ion-content class="padding">
         <div class="list">
            <label class="item item-input">
                <span class="input-label">Descrição</span>
                <input type="text" ng-model="registro.descricao">
            </label>
            <label class="item item-input">
                <span class="input-label">Valor</span>
                <input type="number" ng-model="registro.valor">
            </label>
            <label class="item item-input">
                <span class="input-label">Data</span>
                <input type="date" ng-model="registro.data">
            </label>
            <ion-toggle ng-model="registro.ehEntrada" ng-checked="registro.ehEntrada" toggle-class="toggle-balanced">Entrada</ion-toggle>
         </div>
           
            <div class="row row-bottom">
                 <button class="button button-full button-balanced" style="font-size:27px;" ng-click="salvar()">Salvar</button>
            </div>
      </ion-content>
    </div>
  </ion-modal-view>
</script>