.vermelho {
  color: red;
}

.verde {
  color: green;
}

.imagem_cliente {
  padding-left: 32%;
  padding-bottom: 20px;
}

.botao_barra_superior {
  font-size: 35px !important;
}

#modalRegistro {
  height: 300px !important;
  top: 17%;
}

.nuncaHide {
  display: block !important;
}
